{% extends "encyclopedia/layout.html" %}

{% block title %}
Page to create/edit
{% endblock %}


{% block body %}
    <form action="{% url 'encyclopedia:url_create' %}" method="POST">
        {% csrf_token %}
        {{create_form}}
        <!-- <input type="submit" value="Save"> -->

        <button type="submit" class="btn btn-primary">
            Save
        </button>



    </form>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    <!-- insert link of title to help redirect-->
    <li>
        <a href="{% url 'encyclopedia:url_display' entry_title=title %}">{{title}}</a>
    </li>

    {% endfor %}
    {% endif %}
{% endblock %}
    